@import (once) './var.less';
@import (once) './mixin.less';

// layout section
.content {
    background-color: white;
    border: 1px solid #d4d4d4;
    border-top: none;
    border-bottom-left-radius: @radius-lg;
    border-bottom-right-radius: @radius-lg;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.175);
    margin-bottom: 20px;
}

body {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: @color-text-dark;
    background-color: @color-bg-lightgray;
}
// ----------------

// lang switcher section
.lang-list {
    margin: 0;
}
// ------------------

// Lang panel
.lang-panel {
    margin-bottom: @margin-after-xs-block;
    margin-top: @margin-before-xs-block;
}
// ------------------

// Contact card
.contact-card {
    margin-bottom: @margin-after-block;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.175);
    border-top: none;
    border-bottom-left-radius: @radius;
    border-bottom-right-radius: @radius;
}

.contact-head {
    border-top: none;
    border-top-left-radius: @radius;
    border-top-right-radius: @radius;
    padding: 0 10px;
    font-size: 0;
}

.contact-logo {
    width: 80px;
    display: block;
    margin-bottom: 10px;

    .marginn-center();
}

.contact-logo-text-start,
.contact-logo-text-end {
    padding: 4px 8px;
    font-size: 24px;
    display: inline-block;
    vertical-align: text-top;
    background-color: white;
    color: @color-text-blue;
    border: 1px solid @color-bg-blue;
}

.contact-logo-text-end {
    background-color: @color-bg-blue;
    color: white;
}

.contact-slogan {
    margin-top: 2px;
    font-size: 14px;
    color: @color-text-green;
    font-weight: bold;
}

.contact-body {
    padding: 0 15px 20px;
}

.contact-list {
    margin-bottom: 0;

    dd {
        margin-bottom: 5px;
    }
}
// ------------------

// About card
.about-card {
    margin-bottom: @margin-after-block;
    border-radius: @radius-sm;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.175);
    padding: 20px 15px;
}

.read-more {
    display: inline-block;
    margin-top: 10px;
    position: relative;
    color: @color-text-green;
    
    font-family: Arial, sans-serif;
    font-weight: bold;
    line-height: 20px;
    font-size: 16px;

    &:after {
        content: " ";
        position: absolute;
        right: -20px;
        top: 4px;
        border: 5px solid transparent;	
        border-left: 6px solid @color-text-green;
    }

    &:hover, &:focus {
        text-decoration: none;
        color: @color-text-lightgreen;

        &:after {
            border-left-color: @color-text-lightgreen;
        }
    }
}
// ------------------

// Navbar
.navbar-custom {
    overflow: hidden;
    border: none;
    border-radius: 0;
    border-bottom: 2px solid @color-bg-blue;
    margin-bottom: @margin-after-block;

    .navbar-collapse {
        padding-left: 0;
    }

    .nav > li {
        margin-right: 10px;
    }

    .nav > li > a {
        border-top-left-radius: @radius;
        border-top-right-radius: @radius;
        color: @color-text-dark;
        transition: color ease-out 0.25s, background-color ease-out 0.25s;

        &:hover, &:focus {
            color: @color-text-light;
            background-color: @color-bg-blue;
        }
    }

    .nav > li.active {
        & > a {
            color: @color-text-light;
            background-color: @color-bg-blue;
        }
    }
}
// ------------------

// Banner
.banner {
    position: relative;
    
    .caption {
        position: absolute;
        bottom: 0;
        left: 15%;
        right: 15%;

        padding: 10px;
        font-size: 24px;
        line-height: 28px;
        background-color: rgba(0, 0, 0, 0.3);
        color: @color-text-light;
        border-radius: @radius-sm;
    }
}
// ------------------

// Footer
.footer-content {
    background-color: @color-bg-black;
    padding: 20px 15px;
    color: darken(@color-text-light, 10%);

    a {
        .a(lighten(@color-text-blue, 30%), lighten(@color-text-blue, 20%), lighten(@color-text-blue, 20%), underline);
    }
}

.footer-header {
    margin-bottom: 30px;
    color: white;
    text-transform: uppercase;
}

.footer-logo {
    width: 50px;
}
// ------------------

// Copywrite
.copywrite {
    margin-bottom: 10px;
    color: darken(@color-text-light, 20%);
}
// ------------------