@bs-color-text-default: #333;
@bs-color-text-invert: #eee;
@bs-color-text-primary: #337ab7;
@bs-color-text-info: #31708f;

@bs-color-nav-border: #e7e7e7;
@bs-color-nav-bg: #f8f8f8;

@bs-color-bg-primary: #337ab7;

@bs-screen-sm-min: 768px;
@bs-screen-md-min: 992px;
@bs-screen-lg-min: 1200px;