<style>
    .mm-debug {
        background-color: #000;
        padding: 10px;
        color: beige;
    }

    .mm-debug a {
        color: chartreuse;
    }

    .mm-debug a:hover, .mm-debug a:focus {
        color: white;
    }
</style>

<div class=" mm-debug">
    <div class="container">
        Go read <a href="/debug-ui/">DEBUG UI</a> plugin metadata!
    </div>
</div>