.breadcrumb-wrap {
    background-color: transparent;
    border-radius: @radius;
    overflow: hidden;
    margin-bottom: @margin-after-sm-block;

    .breadcrumb {
        background-color: transparent;
        margin-bottom: 0;
        padding-left: 72px;
        padding-right: 0;
    }
}

.breadcrumb {
    margin-bottom: @margin-after-sm-block;
}