// Navbar
.navbar-custom {
    overflow: hidden;
    border: none;
    border-radius: 0;
    border-bottom: 2px solid @color-bg-blue;
    margin-bottom: @margin-after-block;
    min-height: 52px;

    .navbar-collapse {
        padding-left: 0;
    }

    .nav > li {
        margin-right: 10px;

        &:first-child{
            margin-left: 15px;
        }

        & > a {
            border-radius: @radius;
            color: @color-text-dark;
            transition: color ease-out 0.25s, background-color ease-out 0.25s;
            padding-top: 10px;
            padding-bottom: 10px;

            &:hover, &:focus {
                color: @color-text-light;
                background-color: @color-bg-blue;
            }
        }
    }

    .nav > li.active {
        & > a {
            color: @color-text-light;
            background-color: @color-bg-blue;
        }
    }
}
// ------------------

// @import (once) '../var.less';

// .mm-navbar {
//     @border-color: darken(#eee, 10%);
//     @border-shadow-color: darken(@border-color, 5%);
//     @active-color: @bs-color-text-primary;
    
//     margin-bottom: @margin-block;
//     font-size: 16px;
//     border-bottom: 1px solid @bs-color-nav-border;
//     background-color: @bs-color-nav-bg;

//     .navbar-nav > li > a {
//         border-top: 2px solid transparent;
//         color: @bs-color-text-default;
//         transition: background-color 0.15s ease-in, color 0.15s ease-in;

//         &:hover {
//             color: #eee;
//             background-color: @bs-color-text-primary;
//         }
//     }

//     .navbar-nav > li.active > a {
//         border-top-color: @active-color;
//         color: @active-color;
        
//         &:hover {
//             color: #eee;
//         }
//     }

//     @media (min-width: 768px) {
//         .navbar-right {
//             margin-right: 0;
//         }
//     }
// }